:root{
  --primary-color: #1f1f1f;
  --success: #42855B;
  --danger: #C21010;
  --warning: #F7EC09;
}

a{
  text-decoration: none;
  color: red;
}

.btn{
  background: none;
  border: 1px solid var(--primary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  width: 70px;
  margin-right: 0;
  transition: 0.3s ease;
}

.btn.add:hover{
  background: var(--success);
  color: white;
  
}

.btn.del:hover{
  background: var(--danger);
  color: white;
  
}
.btn.s2:hover{
  background: var(--warning);
  
}
.btn.up:hover{
  background: var(--success);
  color: white;
  
}

.container,.nav_container{
  width: 80%;
  margin: auto;
}

.navbar{
  font-size: 2rem;
  padding: 10px;
  background: var(--primary-color);
  color: white;
  text-align: center;
}

.todos_container{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  box-shadow: 1px 1px 1px 1px var(--primary-color);
  padding: 50px;
}

.todos_container .row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

input{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
  border: 1px solid var(--primary-color);
}

#title,#desc{
  width: auto;
}

.addtodo{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.addtodo .btn{
  width: 40%;
  margin: 10px auto;
}

.searcharea{
  width: 100%;
}

.todos{
  width: 100%;
}

.todo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 10px 0;
}

.todo .todo_details{
  flex: 80%;
  padding: 10px;
}

.btn_container{
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}

.btn_container .btn{
  margin: 10px 0;
}

.footer{
  text-align: center;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .todos_container{
    width: 80%;
  }
}

@media (max-width: 500px) {
  .container{
    width: 100%;
  }
  .todos_container{
    padding: 10px;
  }
}